<div class="mt-4">
    <h3>Đăng khoá học</h3>
    <form method="post" action="/courses/store">
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Tên khoá học">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" id="description" name="description" placeholder="Mô tả">
        </div>
        <div class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" id="videoId" name="videoId" placeholder="Đường dẫn video">
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success">Thêm</button>
    </form>
</div>